body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f7f6;
  color: #333;
  line-height: 1.6;
}

#root {
  display: flex;
  flex-direction: column; /* empilha verticalmente */
  justify-content: flex-start;
  align-items: center; /* centraliza horizontalmente */
  min-height: 100vh;
  box-sizing: border-box;
}

h1, h2, h3 {
  color: #2c3e50;
  margin-top: 0;
  margin-bottom: 15px;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
